.item {
  display: flex;
  width: 350px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding-left: 20px;

  border: 1px solid rgb(141, 136, 136);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.status {
  width: 16px;
  height: 16px;
  margin-right: 20px;
  border-radius: 50%;
}

.status.online {
  background-color: rgb(38, 161, 38);
}

.status.offline {
  background-color: tomato;
}

.avatar {
  width: 75px;
  height: 75px;
  margin-right: 20px;
  border: 1px solid rgb(141, 136, 136);
  border-radius: 15%;
}

.name {
  font-size: 24px;
  font-weight: 700;
}
